li {
    color: #d6c372;
    padding: 5px;
}
h1 {
    color: #d6c372;
    font-weight: bold;
}
body {
    background-color: black;
    color: white;
}
a {
    color: #bec7c7;
}
.indentation {
    margin-left: 15px;
}